apiresponse/*
!apiresponse/.gitkeep
download/*

test/download/
test/apiresponse/*.csv
test/temp/
test/results
test/modlist.csv
test/run-test-cli.csv
test/test-output/*
 
backups/*

# backup files
modlist-backup.csv
modlist-columns-backup.csv
test/Pester5

testResults.xml

!**/.gitkeep

*.log

.cursor/
@instructions.md