apiresponse/*
!apiresponse/.gitkeep
download/*

test/download
test/temp
test/results
test/modlist.csv

backups/*

# backup files
modlist-backup.csv
modlist-columns-backup.csv
test/Pester5

testResults.xml

!**/.gitkeep
