apiresponse/*
!apiresponse/.gitkeep
download/*
!mods/.gitkeep

test/download
test/temp
test/results
test/modlist.csv

# backup files
modlist-backup.csv
modlist-columns-backup.csv
test/Pester5

testResults.xml
