[submodule "minecraft-mod-hash"]
	path = minecraft-mod-hash
	url = https://github.com/wildone/minecraft-mod-hash.git
[submodule "tools/minecraft-mod-hash"]
	path = tools/minecraft-mod-hash
	url = https://github.com/wildone/minecraft-mod-hash.git
